body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #323232;
}

#app {
  @import "loader";

  h1 {
    color: #222;
    font-size: 1.5rem;
  }
  h2 {
    color: #444;
    font-size: 1rem;
  }

  nav {
    background-color: #333;
    height: 1rem;
    padding: 2rem;

    a {
      color: #CCC;
      margin-right: 1rem;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: bold;
    }
  }

  .container {
    min-height: 12rem;
    margin: 1rem;
    padding: 2rem;
    box-shadow: 2px 2px 2px #BBB;
    border: 1px solid #EEE;
  }
}